.background1 {
    background-image: url('../image/Rectangle\ \(38\).png');
    background-size: cover;
    background-position: center;
    padding: 50px 0;
    height: 400vh;
    padding-top: 100px;
}

.background2 {
    background-image: url('../image/Rectangle\ \(39\).png');
    background-size: cover;
    background-position: center;
    padding: 50px 0;
    height: 100vh;
    padding-left: 200px;
    padding-top: 240px;
    margin-bottom: 130px;
}   

@media (max-width: 480px) {
    .background1{
    height: auto;
    }
    .background2 {
    height: auto;
    padding-left: 25px;
    padding-top: 80px;    
    }

}